body{
    margin: 0%;
    background-color: aqua;
}
img{
    width: 50px;
    padding: 10px 20px;
}
head{
    color: blue;
}
header{
    display: flex;
   justify-items: center;
   justify-content: first baseline; 
   padding: 10px 20px;

}   
nav{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

@media (max-width: 700px)
{
    nav{
    display: none;}
}
.menu-hamburguer{display: none;}
